/*------- PC ( 1920 x 1080 ) -------*/
.container-main0 {
    
}

/* MainPage 전체 div */
.container-main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/images/main_background.png);
    background-size: cover;

    /*--background-image:--*/
}

/* backhome 아이콘 */
.backhome {
    position: absolute;
}

/* yourics 로고 */
.logo {
    margin-top: 30px;
}

/* 검색창 */
.search {
    margin-top: 30px;
    text-align: center; 
}

/* 동영상과 가사를 감싸는 메인 div */
.main-div {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

/* 동영상 */
.video {
    width: 800px;
    height: 500px;
    margin: 0px 20px;
    border: 1px solid black;
    text-align: center;
}

/* 가사 박스 */
.lyrics {
    width: 800px;
    height: 500px;
    margin: 0px 20px;
    border: 1px solid black;
    text-align: center;
}

/* footer (sns 공유 부분) */
footer {
    width: 100%;
    margin: auto 70px;
}

/* sns ul */
.sns-list {
    display: flex;
    justify-content: center;  /* 가운데 정렬 */
    list-style: none;
    margin-right: 50px;
}

/* sns li */
.sns-list li {
    margin: 0px 5px;

}

.sns-list li img {
    width: 40px;
    height: 40px;
}