@font-face {
    font-family: 'BBTreeGB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff'); font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal; 
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}
@font-face { font-family: 'JSDongkang-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'HangultuelGothic'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.10/HangultuelGothic.woff') format('woff'); font-weight: normal; font-style: normal; }

/* PC */
@media screen and (max-width: 1950px) and (min-width: 769px), (min-width: 769px) {
    .main-bg{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: url(/images/testback.png);
    background-repeat: no-repeat;
    background-color: white;

    /* width : 100%;
    height : 0;
    padding-bottom : calc(1080 / 1920 * 100%);
    background : url(/images/testback.png) center center / cover no-repeat; */
    }

    .container-main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    /* 홈 바로가기 버튼 */
    .move-home-btn {
        position: fixed;
        left: 1%;
        top: 1%;
    }

    .move-home-btn img:hover {
        content:url(/images/backbth.png);
    }

/* yourics 로고 */
    .logo {
    margin-right: 1250px;
    margin-top: 80px;
    }

    /* 검색창 */
    .search {
    margin-top: -70px;
    margin-left: 270px;
    text-align: center;
    }

    /* 동영상과 가사를 감싸는 메인 div */
    .main-div {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    }

    /* 동영상 */
    .video {
    width: 800px;
    height: 500px;
    margin: 0px 20px;
    text-align: center;
    z-index: 2;
    }

    .videoimage{
    position: absolute;
    margin-top: -16px;
    margin-left: 0px;
    z-index: 1;
    }

    #YT_Video{
    position: relative;
    align-items: center;
    border-radius: 30px;
    }

    /* 가사 박스 Image */
    .lyrics {
    display: flex;
    width: 600px;
    height: 450px;
    margin: 35px 50px;
    text-align: center;
    background: url('/images/lyricsimg1.png');
    opacity: 90%;
    background-size: cover;
    }

    /* 가사 박스 text */
    .lyrics .content {
    width: 500px;
    height: 240px;
    margin: 117px auto auto 60px;
    color: white;
    text-align: center;
    overflow-y: auto;
    line-height: 170%;
    font-family: 'JSDongkang-Regular';
    opacity: 96%;
    }

    /* 가사 홀수 라인 */
    .content span:nth-child(2n-1) {
    /* padding-left: 30px; */
    }

    /* 가사 짝수 라인 */
    .content span:nth-child(2n) {
    opacity: 80%;
    /* padding-left: 30px; */
    }

    .lyrics .content::-webkit-scrollbar {
    width: 10px;
    }

    .lyrics .content::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
    }

    .lyrics .content::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
    }

    /* footer (sns 공유 부분) */
    footer {
    width: 100%;
    margin: auto 70px;
    }

    .img-button {
      background: url(/images/search1.png);
      width: 60px;
      height: 50px;
      border: transparent;
      margin-left: -13px;
    }

    .img-button2 {
      background: url(/images/loading.png);
      width: 60px;
      height: 50px;
      margin-left: -13px;
      border: transparent;
    }

    .img-button:hover {
      background: url(/images/search1h.png);
      width: 60px;
      height: 50px;
      border: transparent;
    }

    .search-box{
    width: 480px;
    height: 50px;
    margin: 0px 5px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    color: black;
    font-family: 'JSDongkang-Regular';
    }

    .search-box:hover {
    /* border: 2px solid grey; */
    }

  .copyright {
    font-family: 'JSDongkang-Regular';
      text-align: center;
      font-size: small;
      color: black;
      /* margin-top: 40px; */
  }
  
    form {
        display: flex;
        margin-top: 10px;
    }

    .randomsong{
        margin-top:10px;
        margin-left: 660px;
    }

    .songtype-checkbox {
        display: flex;
        flex-direction: column;
        text-align: left;
        color: black;
        font-family: 'JSDongkang-Regular';
        margin: 20px 10px;
    }

    .randomImg {
        width: 70px;
        height: 70px;
        margin: 0px 5px;
        margin-top: 0px;
    }

    .randomImg:hover {
        content: url(/images/shuffleh.png);
    }
    
    .f1 {
       margin-left: -800px;
       margin-top: 60px;
       font-family: 'JSDongkang-Regular';
       font-size: small;
    }
    
    input[type=checkbox] {
        transform : scale(1.5);
    }

    /* 영상 로딩 배경 CSS */
    .loading-bg {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    

    /* 영상 로딩 컴포넌트, 텍스트 CSS */
    .loading {
        width: 100%;
        height: 32%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 20px;
        background-color: black;
        animation: fadein 2s 1s infinite linear alternate;
        -webkit-animation: fadein 2s 1s infinite linear alternate;
        opacity: 70%;
    }

    @keyframes fadein {
        from {
            opacity: 0.7;
        }
        to {
            opacity: 0.5;
        }
    }

    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity: 0.7;
        }
        to {
            opacity: 0.5;
        }
    }

    /* 영상 로딩 텍스트 2번쨰 Div CSS */
    .loading :nth-child(2) {
        font-size: 15px;
        margin-top: 10px;
    }

    .chart {
        position: fixed;
        top: 1%;
        right: 1%;
    }

    .chart-menu {
        font-size: 50px;
        cursor: pointer
    }

    .chart-menu-close {
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 50px;
        border-top-left-radius: 10px;
    }

    /* 차트 고정 상단메뉴 */
    .sidenav-header {
        width: 100%;
        height: 60px;
        background-color:  #111;
        position: fixed;
        top: 0;
        border-top-left-radius: 10px;
    }

    .sidenav-title {
        color: #818181;
        font-size: 30px;
        padding: 0 20px;
        position: fixed;
        top: 10px;
    }
    .sidenav-title:hover {
        color: #f1f1f1;
    }

    /* 노래 1개 div */
    .chart-div {
        padding: 10px 5px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: flex;
        transition: 0.3s;
    }
    .chart-div div {
        padding: 0 10px;
    }
    
    /* 랭크 div */
    .chart-rank {
        width: 35px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* 노래명, 가수 div 그룹 */
    .chart-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        text-align: center;
    }

    /* 재생 버튼 div 그룹 */
    .chart-play {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .chart-play span {
        width: 100px;
        text-align: center;
        margin: 0 35px;
        color: #818181;
        cursor: pointer;
        border: 1px solid gray;
    }
    .chart-play span:hover {
        /* transition: 0.3s; */
        color: #f1f1f1;
    }
      
    .sidenav div:hover {
        color: #f1f1f1;
    }
      
    .sidenav .closebtn {
        position: fixed;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        cursor: pointer;
        transition: 0.3s;
        color: #818181;
    }

    .sidenav .closebtn:hover {
        color: #f1f1f1;
    }
}

/* MOBILE ●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●*/
@media screen and (max-width: 769px), (max-height: 800px) {
    .main-bg{
        background-color:white;
        width: max-content;
        height: max-content;
        background-size: cover;
        
    }
    
    .container-main {
        width: max-content;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    /* 홈 바로가기 버튼 */
    .move-home-btn {
      position: fixed;
      left: 1%;
      top: 1%;
    }
    .move-home-btn img:hover {
      content:url(/images/backbth.png);
    }

    /* yourics 로고 */
    .logo {
        margin-top: 80px;
        margin-bottom: 100px;
        text-align: center;
    }
    
    /* 검색창 */
    .search {
        margin-top: 30px;
        text-align: center;
    }
    
    /* 동영상과 가사를 감싸는 메인 div */
    /* .main-div {
        display:flex;
        flex-direction: row;
        margin-top: 50px;
    } */
    
    /* 동영상 */
    .video {
        width: 800px;
        height: 500px;
        margin: -59px 94px;
        text-align: center;
    }
    
    .videoimage{
        position: absolute;
        margin-top: 134px;
        margin-left: 140px;
        align-items: center;
        z-index: 1;
    }
    
    #YT_Video{
        position: relative;
        align-items: center;
        margin: 210px -120px auto auto; 
        z-index: 2;
        border-radius: 30px;
        /* margin-top: 158px; */
        margin-left: 12px;
    }
    
    /* 가사 박스 Image */
    .lyrics {
        display: flex;
        width: 900px;
        height: 1000px;
        margin: 90px 110px;
        text-align: center;
        background: url('/images/lyricsimg_m2.png');
        background-size: cover;
        margin-top: 330px;
    }
    
    /* 가사 박스 text */
    .lyrics .content {
        width: 700px;
        height: 780px;
        margin: 117px auto auto 100px;
        color: white;
        text-align: center;
        overflow-y: auto;
        line-height: 200%;
        font-family: 'JSDongkang-Regular';
        font-size: 35px;
        opacity: 96%;
    }
    
    /* 가사 홀수 라인 */
    .content span:nth-child(2n-1) {
        /* padding-left: 30px; */
    }
    
    /* 가사 짝수 라인 */
    .content span:nth-child(2n) {
        opacity: 80%;
        /* padding-left: 30px; */
    }
    
    .lyrics .content::-webkit-scrollbar {
        width: 10px;
    }
    
    .lyrics .content::-webkit-scrollbar-thumb {
        background-color: #2f3542;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
    }
    
    .lyrics .content::-webkit-scrollbar-track {
        background-color: grey;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
    }
    
    /* footer (sns 공유 부분) */
    footer {
        width: 100%;
        margin: auto 70px;
    }
    
    .img-button {
        background: url(/images/msearch.png);
        width: 120px;
        height: 100px;
        border: transparent;
        margin-left: -20px;
      }
    
     .img-button:hover {
        background: url(/images/msearchh.png);
        width: 120px;
        height: 100px;
        border: transparent;
        margin-left: -20px;
      }

      .img-button2 {
        background: url(/images/msearchl.png);
        width: 120px;
        height: 100px;
        border: transparent;
        margin-left: -20px;
      }

    .search-box{
        width: 900px;
        height: 100px;
        margin-left: 20px;
        border: 2px solid black;
        border-radius: 15px;
        text-align: center;
        font-size: 40px;
        font-family: 'JSDongkang-Regular';
    }
    
      .copyright {
          font-family: 'JSDongkang-Regular';
          text-align: center;
          font-size: 20px;
          color: black;
          margin-bottom: 40px;
      }
      
  form {
    display: flex;
}

.songtype-checkbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 50px;
}

.randomImg {
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 920px;
    margin-top: 20px;
}

.randomImg:hover {
    content: url(/images/shuffleh.png);
}

.f1 {
   position: absolute;
   width: max-content;
   margin-top: -150px;
   margin-left: 100px;
   font-family: 'JSDongkang-Regular';
   font-size: 20px;
}

input[type=checkbox] {
    transform : scale(3);
    }
}
