/*------- PC ( 1920 x 1080 ) -------*/


@font-face {
    font-family: 'BBTreeGB';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff'); font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal; 
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face { font-family: 'JSDongkang-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff'); font-weight: normal; font-style: normal; }


/* PC */
@media screen and (min-width: 769px) and (min-width: 1950px), (min-width: 769px) {
    .container-main0 {

    }

    .backg{
    width: 100%;
    height: 100vh;
    background-size: cover;
    /* background: url(/images/bb14.jpg); */
    background-color: darkslategrey;
    }

    .container-main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    /* backhome 아이콘 */
    .backhome {
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    }

    .backhome img:hover {
    content: url(/images/ufo2.png);
    }

    /* yourics 로고 */
    .logo {
    margin-top: 30px;
    }

    /* 검색창 */
    .search {
    margin-top: 30px;
    text-align: center;
    }

    /* 동영상과 가사를 감싸는 메인 div */
    .main-div {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    }

    /* 동영상 */
    .video {
    width: 800px;
    height: 500px;
    margin: 0px 20px;
    text-align: center;
    z-index: 2;
    }

    .videoimage{
    position: absolute;
    margin-top: -50px;
    margin-left: -30px;
    z-index: 1;
    }

    #YT_Video{
    position: relative;
    align-items: center;
    border-radius: 30px;
    }

    /* 가사 박스 Image */
    .lyrics {
    display: flex;
    width: 600px;
    height: 450px;
    margin: 35px 50px;
    text-align: center;
    background: url('/images/lyricsimg (1).png');
    background-size: cover;
    }

    /* 가사 박스 text */
    .lyrics .content {
    width: 500px;
    height: 240px;
    margin: 117px auto auto 60px;
    color: white;
    text-align: center;
    overflow-y: auto;
    line-height: 170%;
    font-family: 'JSDongkang-Regular';
    opacity: 96%;
    }

    /* 가사 홀수 라인 */
    .content span:nth-child(2n-1) {
    /* padding-left: 30px; */
    }

    /* 가사 짝수 라인 */
    .content span:nth-child(2n) {
    opacity: 80%;
    /* padding-left: 30px; */
    }

    .lyrics .content::-webkit-scrollbar {
    width: 10px;
    }

    .lyrics .content::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
    }

    .lyrics .content::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
    }

    /* footer (sns 공유 부분) */
    footer {
    width: 100%;
    margin: auto 70px;
    }

    /* sns ul */
    .sns-list {
    display: flex;
    justify-content: center;  /* 가운데 정렬 */
    list-style: none;
    margin-right: 50px;
    }

    /* sns li */
    .sns-list li {
    margin: 0px 5px;

    }

    .sns-list li img {
    width: 40px;
    height: 40px;
    }

    .img-button {
    background: url(/images/searchyy.png);
    width: 40px;
    height: 40px;
    border: transparent;
    margin: 0px 5px;
    }

    .img-button:hover {
    background: url(/images/searchyyy.png);
    width: 40px;
    height: 40px;
    border: transparent;
    margin: 0px 5px;
    }

    .search-box{
    width: 500px;
    height: 50px;
    margin: 0px 5px;
    background-color: dimgrey;
    border: 2px solid white;
    border-radius: 45px;
    text-align: center;
    font-size: medium;
    font-family: 'GmarketSansMedium';

    }

    .search-box:hover {
    /* border: 2px solid grey; */
    }

    .img-button2 {
    width: 90px;
    height: 40px;
    margin: 0px -10px;
    background-color: transparent;
    border:transparent;
    text-align: center;
    font-size: large;
    font-family: 'GmarketSansBold';
    color: white;
    }

    .copyright {
        font-family: 'GmarketSansLight';
        text-align: center;
        font-size: small;
        color: white;
    }

    form {
        display: flex;
    }

    .songtype-checkbox {
        display: flex;
        flex-direction: column;
        text-align: left;
        color: white;
        margin: 0px 5px;
    }

    .randomImg {
        width: 50px;
        height: 50px;
        margin: 0px 5px;
    }



}

/* MOBILE ●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●*/
@media screen and (max-width: 768px), (max-height: 800px) {

    .container-main0 {
    
    }
    
    .backg{
        background: url(/images/bb14.jpg);
        background-color:grey;
        width: max-content;
        height: max-content;
        background-size: cover;
        
    }
    
    .container-main {
        width: max-content;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    /* backhome 아이콘 */
    .backhome {
        position: absolute;
        margin-top: 30px;
        margin-left: 20px;
    }
    
    .backhome img:hover {
        content: url(/images/ufo2.png);
    }
    
    /* yourics 로고 */
    .logo {
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        /* flex-direction: column; */
        margin-top: 200px;
    }
    
    /* 검색창 */
    .search {
        margin-top: 30px;
        text-align: center;
    }
    
    /* 동영상과 가사를 감싸는 메인 div */
    /* .main-div {
        display:flex;
        flex-direction: row;
        margin-top: 50px;
    } */
    
    /* 동영상 */
    .video {
        width: 800px;
        height: 500px;
        margin: -59px 94px;
        text-align: center;
    }
    
    .videoimage{
        position: absolute;
        margin-top: 100px;
        margin-left: 110px;
        align-items: center;
        z-index: 1;
    }
    
    #YT_Video{
        position: relative;
        align-items: center;
        margin: 210px -120px auto auto; 
        z-index: 2;
        border-radius: 30px;
        /* margin-top: 158px; */
        margin-left: 12px;
    }
    
    /* 가사 박스 Image */
    .lyrics {
        display: flex;
        width: 900px;
        height: 1000px;
        margin: 200px 110px;
        text-align: center;
        background: url('/images/lyricsimg_m.png');
        background-size: cover;
        margin-top: 330px;
    }
    
    /* 가사 박스 text */
    .lyrics .content {
        width: 700px;
        height: 780px;
        margin: 117px auto auto 100px;
        color: white;
        text-align: center;
        overflow-y: auto;
        line-height: 200%;
        font-family: 'JSDongkang-Regular';
        font-size: 35px;
        opacity: 96%;
    }
    
    /* 가사 홀수 라인 */
    .content span:nth-child(2n-1) {
        /* padding-left: 30px; */
    }
    
    /* 가사 짝수 라인 */
    .content span:nth-child(2n) {
        opacity: 80%;
        /* padding-left: 30px; */
    }
    
    .lyrics .content::-webkit-scrollbar {
        width: 10px;
    }
    
    .lyrics .content::-webkit-scrollbar-thumb {
        background-color: #2f3542;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
    }
    
    .lyrics .content::-webkit-scrollbar-track {
        background-color: grey;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
    }
    
    /* footer (sns 공유 부분) */
    footer {
        width: 100%;
        margin: auto 70px;
    }
    
    .img-button {
        background: url(/images/searchyy.png);
        width: 40px;
        height: 40px;
        border: transparent;
        margin: 0px 5px;
      }
    
     .img-button:hover {
        background: url(/images/searchyyy.png);
        width: 40px;
        height: 40px;
        border: transparent;
        margin: 0px 5px;
      }
    
    .search-box{
        width: 900px;
        height: 100px;
        margin: 0px 5px;
        border: 2px solid white;
        border-radius: 15px;
        text-align: center;
        font-size: 50px;
        font-family: 'GmarketSansMedium';
    }
    
    .search-box:hover {
        border: 2px solid orange;
    }
    
      .img-button2 {
        width: 90px;
        height: 40px;
        margin: 0px -10px;
        background-color: transparent;
        border:transparent;
        text-align: center;
        font-size: large;
        font-family: 'GmarketSansBold';
        color: white;
      }
    
      .copyright {
          font-family: 'GmarketSansLight';
          text-align: center;
          font-size: small;
          color: white;
          margin-bottom: 40px;
      }
    }
