/* PC */
@media screen and (max-width: 1950px) and (min-width: 769px), (min-width: 769px) {
    
  /* Modal dialogClassName CSS (Width, Opacity 조정) */
  .modalcss {
      width: 70%;
      max-width: none!important;
      opacity: 90%;
      margin: 1.25rem auto;
  }

  /* Modal 뒷 배경 (뒤로가기) */
  .modal-backdrop {
      height: 280px;
  }

  /* Modal 뒷 배경 전체 (그림자 부분 클릭해야 모달 OFF 되는 CSS) */
  .modal {
      height: 30%;
      border-bottom: 1px solid black;
  }

  /* Modal 리스트 X축 스크롤 CSS */
  .modal::-webkit-scrollbar {
      width: 15px;
  }
  .modal::-webkit-scrollbar-thumb {
      background-color: #5e626b;
      border-radius: 10px;
      background-clip: padding-box;
      border: 2px solid transparent;
  }
  .modal::-webkit-scrollbar-track {
      background-color: rgb(179, 179, 179);
      border-radius: 10px;
      box-shadow: inset 0px 0px 5px white;
  }

  /* Modal 배경색 */
  .modal-content {
      /* background-color: gainsboro; */
  }

  /* Modal body 내용 부분 */
  .modal-body {
      width: 100%;
      height: 100%;
      overflow-x: auto;
      overflow-y: auto;
      text-align: center;
  }

  /* Modal (Header, Body) 전체 DIV */
  .modal-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
  }

  /* Modal List */
  .modal-list {
      display: flex;
      width: 412px;
      height: 100%;
      border: 1px solid black;
      border-radius: 5px;
      margin: 10px 10px 10px 10px;
      /* margin-right: 15px; */
      
  }

  /* Modal Thumbnail */
  .modal-thumbnail {
      width: 120px;
      height: 100%;
      cursor: pointer;
  }

  /* Modal text Div */
  .modal-text-div {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      margin: 10px 15px 10px 15px;
      /* font-family: 'HangultuelGothic'; */
  }

  /* 노래 제목 */
  .modal-songname {
      color: salmon;
      cursor: pointer;
      font-family: 'GmarketSansMedium';
      font-size: 15px;
      /* border-bottom: 1px solid black; */
  }

  /* Modal Artist */
  .modal-artist {
      font-size: 13px;
      font-weight: 600;
  }

  /* Modal album */
  .modal-album {
      font-size: 12px;
      font-weight: 500;
  }
}

/* MOBILE ●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●*/
@media screen and (max-width: 769px), (max-height: 800px) {
  /* Modal dialogClassName CSS (Width, Opacity 조정) */
  .modalcss {
      width: 70%;
      max-width: none!important;
      opacity: 90%;
      margin: 1.25rem auto;
  }

  /* Modal 뒷 배경 (뒤로가기) */
  .modal-backdrop {
    width: 100%;
    height: 45%;
  }

  /* Modal 뒷 배경 전체 (그림자 부분 클릭해야 모달 OFF 되는 CSS) */
  .modal {
      height: 45%;
      border-bottom: 1px solid black;
  }

  /* Modal 리스트 X축 스크롤 CSS */
  .modal::-webkit-scrollbar {
      width: 15px;
  }
  .modal::-webkit-scrollbar-thumb {
      background-color: #5e626b;
      border-radius: 10px;
      background-clip: padding-box;
      border: 2px solid transparent;
  }
  .modal::-webkit-scrollbar-track {
      background-color: rgb(179, 179, 179);
      border-radius: 10px;
      box-shadow: inset 0px 0px 5px white;
  }

  /* Modal 배경색 */
  .modal-content {
      /* background-color: gainsboro; */
  }

  /* Modal body 내용 부분 */
  .modal-body {
      width: 100%;
      height: 100%;
      overflow-x: auto;
      overflow-y: auto;
      text-align: center;
  }

  /* Modal (Header, Body) 전체 DIV */
  .modal-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
  }

  /* Modal List */
  .modal-list {
      display: flex;
      width: 45%;
      height: 100%;
      border: 1px solid black;
      border-radius: 5px;
      margin: 10px 10px 10px 10px;
      /* margin-right: 15px; */
      
  }

  /* Modal Thumbnail */
  .modal-thumbnail {
      width: 120px;
      height: 100%;
      cursor: pointer;
  }

  /* Modal text Div */
  .modal-text-div {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      margin: 10px 15px 10px 15px;
      /* font-family: 'HangultuelGothic'; */
  }

  /* 노래 제목 */
  .modal-songname {
      color: salmon;
      cursor: pointer;
      font-family: 'GmarketSansMedium';
      font-size: 15px;
      /* border-bottom: 1px solid black; */
  }

  /* Modal Artist */
  .modal-artist {
      font-size: 13px;
      font-weight: 600;
  }

  /* Modal album */
  .modal-album {
      font-size: 12px;
      font-weight: 500;
  }

}